<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"></section>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <akka>
    <hocon>
      <![CDATA[
        akka {
          log-config-on-start = off
          loglevel = WARNING
          
          actor{
            debug {
              receive = on
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
            
            deployment {
             /JobCoordinator/PaymentWorkers{
              router = round-robin-pool
              
              resizer{
                enabled = on
                lower-bound = 3
                upper-bound = 5
                
                messages-per-resize = 10
                rampup-rate = 0.2
                backoff-rate = 0.1
                pressure-threshold = 1
                backoff-threshold = 0.3
              }
             }
            }
          }
        }
      ]]>
    </hocon>
  </akka>
  
</configuration>